.text-center, p,{
  text-align: center;
  list-style-position: inside;
  }
p{
  font-family: sans-serif;
}
li{
  text-align: center;
  list-style-position: inside;
  
}
.box {
  width: 400px;
  background: #ccc;
  padding: 20px;
  border: 10px solid black;
  margin: 20px;
}
html, body {
  height: 100%;
  width: 100%;
}
header {
  background-color: 8d99ae;
  font-size: 35px;
  font-family: cambria
}
img {
  max-width: 100%;
}
html{
  background-color:edf2f4;
}
a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
